table.attribute-table {
  font-family: monospace;
  background-color: white;
}
table.attribute-table tr th, table.attribute-table tr td {
  width: inherit;
  word-break: normal;
  max-width: 10rem;
  overflow: auto;
  white-space: nowrap;
  border-right: 1px solid #ddd;
  padding: 0 1em;
}
table.attribute-table tr:first-child {
  border-top: 1px solid #ddd;
}